.traffic-light {
  border: 1px solid grey;
  border-radius: 5px;
  width: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FDC108;
  box-shadow: 5px 5px 5px grey;
}
